:root{
    --base-color: #F3C623;
    --base-variant: #f5f5f5;
    --text-color: #000000;
    --secondary-text : #F4F6FF;
    --primary-color: #f0f8ff;
    --accent-color: #EB8317;
}
.darkmode{
    --base-color: #F3C623;
    --base-variant: #f5f5f5;
    --text-color: #000000;
    --secondary-text : #F4F6FF;
    --primary-color: #f0f8ff;
    --accent-color: #EB8317;
}
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    box-sizing: border-box;
}
body{
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    min-height: 100%;
    background-color: var(--base-variant);
}
ul li{
    list-style: none;
}
a{
    color: var(--secondary-text);
    text-decoration: none;
}
header{
    background-color: var(--base-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > img{
    height: 30px;
}
.nav-bar li input{
    height: 30px;
    width: 200px;
}
.nav-bar li a{
    background-color: var(--accent-color);
    padding: 7px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#darkmode > img{
    height: 30px;
}
#darkmode{
    background-color: var(--accent-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.nav-bar li{
    margin: auto;
}
main{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 20px;
    background-color: var(--primary-color);
    margin: 20px;
    border-radius: 10px;
    border: 2px solid var(--base-color);
}
.news{
    flex: 8;
}
aside{
    flex: 2;
}
footer{
    background-color: var(--base-color);
    color: var(--text-color);
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.team{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 20px;
}